language: go
go:
- '1.7'
sudo: false
env:
  global:
  - REPO="c3sr/demo-webserver-bluemix"
before_install:
- go get -v github.com/Masterminds/glide
- cd $GOPATH/src/github.com/Masterminds/glide && git checkout 84607742b10f492430762d038e954236bbaf23f7
  && go install && cd -
- glide install
script:
- cd ${GOPATH}/src/github.com/c3sr/demo-webserver-bluemix
deploy:
  provider: cloudfoundry
  api: https://api.ng.bluemix.net
  username: "$USERNAME"
  password: "$PASSWORD"
  organization: IBM-ILLINOIS-C3SR
  space: dev
  on:
    repo: c3sr/demo-webserver-bluemix
